<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Error</title>

    <link rel="icon" type="image/png" th:href="@{/images/grin.png}">

    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class="container">
    <h1>An error occurred</h1>
    <p th:text="'Message: ' + ${errorMessage}"></p>

    <div class="error-details">
        <h2>Details:</h2>
        <p th:text="${exceptionMessage}">Exception message goes here</p>
    </div>

    <p><a href="/">Go back to Home</a></p>
</div>
</body>
</html>
