<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Blackjack Leaderboard</title>

    <link rel="icon" type="image/png" th:href="@{/images/grin.png}">

    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<h1>Blackjack Leaderboard</h1>

<table>
    <thead>
    <tr>
        <th>Rank</th>
        <th>Player Name</th>
        <th>Wins</th>
        <th>Losses</th>
        <th>Total Games</th>
        <th>Winning Percentage</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="player, stat : ${leaderboard}">
        <td th:text="${stat.index + 1}"></td> <!-- Rank -->
        <td th:text="${player.name}"></td> <!-- Player Name -->
        <td th:text="${player.wins}"></td> <!-- Wins -->
        <td th:text="${player.losses}"></td> <!-- Losses -->
        <td th:text="${player.totalGames}"></td> <!-- Total Games -->
        <td th:text="${#numbers.formatDecimal(player.winPercentage, 2, 2)} + '%'"></td> <!-- Winning Percentage -->
    </tr>
    </tbody>
</table>

<div>
    <a href="/" class="btn btn-primary">Back to Home</a>
</div>
</body>
</html>
