<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <link rel="icon" type="image/png" th:href="@{/images/grin.png}">

    <link rel="stylesheet" th:href="@{/css/styles.css}">

</head>
<body>
<div class = loginerror>
    <h2>Login</h2>

    <!-- Display an error message if login failed or user doesn't exist -->
    <div th:if="${param.error}" style="color: red;">
        Invalid username or password, or the user does not exist. Please try again or register a new account.
    </div>

    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Login">
    </form>

    <!-- Register button for new users -->
    <div>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>
</div>
</body>
</html>
